{% extends "layout.html" %}

{% block title_description %}
<title>SBI History Analyzer | SBI証券取引履歴の分析援助ツール</title>
<meta name="description" content="SBI証券の取引履歴をオンライン分析、またはデータ分析用に整形してダウンロードするツール">
{% endblock %}

{% block custom_css %}
<link href="{{ url_for('static', filename='sbi/style.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
<div id="sbi-container">
  <div id="sbi-main">
    <div id="sbi-text">
      <h1>SBI History Analyzer</h1>
      <p class="lead"><br>
      SBI証券からダウンロードできる取引履歴を<br>
      データ分析しやすいフォーマットに整形するツール</p>
      <a data-toggle="collapse" href="#usage" aria-expanded="true" aria-controls="#usage">
        <i class="fas fa-question-circle"></i>
        使い方
      </a><br>
      </button>
      <div id="usage" class="collapse">
        <div class="card card-inverse" style="background-color: #aaa;">
          <p>
          step1. 
          <a href="https://www.sbisec.co.jp/" target="_blank">SBI証券Webページ
            <small><i class="fas fa-external-link-alt"></i></small>
          </a>から
          ログイン→
          </p>
          <p>
          step2. 
          先物・オプション取引→
          </p>
          <p>
          step3. 
          履歴→約定履歴→検索→CSVダウンロード<br>
          ダウンロードされたファイル（ExecutionRefer20XXxxxxXXXXXX.csv）
          をそのまま選択→
          「RR分析」または「データ整形」のボタンをクリック
          </p>
          <img src="/static/sbi/how-to-sbi.png" class="card-img-bottom">
        </div>
      </div>
      <br>
      <form action="{{url_for('sbi.sbi_button')}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" class="form-control" accept="text/csv"><br>
        {% if buttons %}
        {% for val, label, descr in buttons %}
        <button type="submit" class="btn btn-default" name="action" 
                                                      value="{{ val }}" title="{{ descr }}">
          <!--formtarget="_blank"-->
          {{ label }}
        </button>
        {% endfor %}
        {% endif %}
        <!--
          <br>
          <small>
          <i class="fa fa-info-circle"></i>データの管理について
          </small>
        -->
      </form>
    </div>
  </div>
  <div class="footer">
    {% include "sbi/footer.html" %}
  </div>
</div>
{% endblock %}
