html {
    height: 100%;
}

body {
    height: 100%;
    background: #ddd;
}


.vainlab-container {
  display: flex;
  flex-direction: column;

  align-items: center;

  height: 100vh;
}
.vainlab-logo {
  flex: 1 1 auto;
}
.vainlab-logo img {
  width: 300px;
  height: 300px;
  margin: 20px 0px 16px;
}
.vainlab-container .search-form {
  flex: 1 1 auto;
}
.vainlab-description {
  flex: 1 1 auto;
  margin-top: 16px;
}
.vainlab-description p {
  text-align: center;
  background-color: #fff;
  width: 176px;
  height: 176px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.matches-main {
    display: flex;
    flex-direction: column;
}
.matches-main .header {
    background: #fff;
    flex: 0 0 auto;

    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.matches-main .header img {
    width: 32px;
    height: 32px;
}
.all-matches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.single-match {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: #fff;
    border-radius: 8px;
    max-width: 780px;
    margin: 4px 8px 0; /* top side bott */
}
.m-summary {
    display: flex;

    margin: 4px;
}
/*
.role {}
*/
.won {
    /* background-color is defined in html */
    height: 128px;
    width: 128px;
    border-radius: 64px;
    border-bottom-right-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}
img.hero {
    height: 108px;
    border-radius: 54px;
}
.m-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
/*
@media all and (max-width: 500px) {
    .m-details {
        flex-direction: column;
    }
}
*/
.item-build-wrapper {
    /* no size change as flex item */
    flex: 0 1 316px;

    display: flex;
    align-items: center;
}
.item-build {
    flex 0 1;
    /* flex box */
    display: flex;
    flex-direction: row;
    padding: 2px;
    background-color: #ccc;
    border-radius: 37px;
    height: 64+10px;
    width: 316px;
}
.single-item {
    margin: 2px;
}
.single-item img {
    width: 48px;
    height: 48px;
}
.player-stats {
    flex: 1 0;

    display: flex;
    flex-direction: column;

    min-width: 160px;
}
.player-stats > div {
    display: flex;
    flex-direction: row;
    
}
.rosters {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 160px;
}
.roster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.roster-stats {}
.roster-participants i {
    border-radius: 50%;
    margin: 2px;
}


/* All above are widest mode settings
 * Here we set for shallower cases
 */
@media all and (max-width: 460px) {
    .m-summary {
        margin: 2px;
    }
    .won {
        height: 88px;
        width: 88px;
        border-radius: 50%;
        border-bottom-right-radius: 12.5%;
    }
    img.hero {
        height: 80px;
        border-radius: 50%;
    }

    .item-build-wrapper {
        flex: 0 1 242px;

        margin-top: 4px;
    }
    .item-build {
        width: 242px;
        height: 38+2+2px;

        padding: 1px;
    }
    .single-item {
        margin: 1px;
    }
    .single-item img {
        width: 38px;
        height: 38px;
    }
}
@media all and (max-width: 630px) {
    .player-stats {
        flex-direction: row;
        justify-content: space-around;

        min-width: unset;
    }
    .player-stats > div {
        flex-direction: column;
    }
}
@media all and (max-width: 780px) {
    .rosters {
        display: none;
    }
}
