{% extends "layout.html" %}

{% block titlename %}
<title>About</title>
{% endblock %}

{% block content %}
<!-- Custom styles -->
<link href="/static/css/cover.css" rel="stylesheet">
<link href="/static/css/mystyle.css" rel="stylesheet">

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

<main role="main" class="inner cover">
  <h3>About</h3>
  <p>
    Creator: Qiu
  <p>
    My interest: Machine Learning, Deep Learning, Brain<br>Hobby: Anime, Manga, Movie
  <p>
    {% macro account(name, url) %}
    <a href={{ url }} target="_blank">{{ name }}</a>
    {% endmacro %}

    / {{ account('Qiita', 'https://qiita.com/qiugits') }}
    / {{ account('GitHub', 'https://github.com/qiugits') }}
    /
</main>

    </div>
  </div>
</div>
{% endblock %}
