{% extends "layout.html" %}
{% block content %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <main class="inner cover" role="main">
        <h3>SBI History Analyzer</h3>
        <p>使い方<br>
        <a href="https://www.sbisec.co.jp/" target="_blank">SBI証券Webページ</a>から
        ログイン→先物・オプション取引→履歴→約定履歴→検索→CSVダウンロード<br>
        ダウンロードされたファイル（ExecutionRefer20XXxxxxXXXXXX.csv）をそのまま選択→ボタンをクリックすると
        整形されたファイル、またはリスクリワード分析結果をダウンロードできます
        </p>
        <form action="/sbi_button" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" class="form-control" accept="text/csv"><br>
          {% if buttons %}
            {% for val, lab in buttons %}
              <button type="submit" class="btn btn-default" name="action" value="{{ val }}">
                {{ lab }}
              </button>
            {% endfor %}
          {% endif %}
        </form>
      </main>
    </div>
  </div>
</div>
{% endblock %}
