{% extends "layout.html" %}

{% block title_description %}
<title>VainLab | Vainglory ゲーム履歴を表示・分析・共有しよう</title>
<meta name="description" content="VainLab 【ベインラボ】 Vainglory API を用いた分析ツールで、ゲーム履歴を表示・共有したり、統計分析で勝率アップを目指そう！">
{% endblock %}

{% block custom_css %}
<link href="{{ url_for('static', filename='vain/style.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="vainlab-container">

  <div class="vainlab-logo">
    <img src="{{ url_for('static', filename='vain/vainlab-logo_pink.svg') }}">
  </div>

  <div class="search-form">
    <form class="" action="{{ url_for('vain.matches') }}" method="post">
      <input name="ign" type="text" />
      <select name="reg">
        <option value="ea">東アジア</option>
        <option value="cn">中国</option>
        <option value="na">北アメリカ</option>
        <option value="eu">ヨーロッパ</option>
        <option value="sa">南アメリカ</option>
        <option value="sg">東南アジア</option>
      </select>
      <input type="submit" value="Submit">
    </form>
  </div>

  <div class="useful-links">
    <a href="http://gamelocker.unite.gg" target="_blunk">
      API稼働状況
    </a>
  </div>

  <div class="vainlab-description">
    <p><span>
    <strong>β版</strong><br>
    VaingloryAPIを用いた<br>
    統計分析ツール
    </span></p>

    <p><span>
    β版の機能<br>
    特定プレイヤーの<br>
    試合結果の一覧表示
    </span></p>

    <p><span>
    実装予定の機能<br>
    試合結果全体の<br>
    統計的分析など
    </span></p>
  </div>
</div>

{% endblock %}
