{% extends "layout.html" %}

{% block titlename %}<title>VainLab</title>{% endblock %}

{% block content %}
<div class="vainlab-container">

  <div class="vainlab-logo">
    <img src="{{ url_for('static', filename='vain/vainlab-logo_pink.svg') }}">
  </div>

  <div class="search-form">
    <form class="" action="{{ url_for('vain.matches') }}" method="post">
      <input name="ign" type="text" />
      <select name="reg">
        <option value="ea">東アジア</option>
        <option value="cn">中国</option>
        <option value="na">北アメリカ</option>
        <option value="eu">ヨーロッパ</option>
        <option value="sa">南アメリカ</option>
        <option value="sg">東南アジア</option>
      </select>
      <input type="submit" value="Submit">
    </form>
  </div>

  <div class="vainlab-description">
    <p><span>
    <strong>β版</strong><br>
    VaingloryAPIを用いた<br>
    統計分析ツール
    </span></p>

    <p><span>
    β版の機能<br>
    特定プレイヤーの<br>
    試合結果の一覧表示
    </span></p>

    <p><span>
    実装予定の機能<br>
    試合結果全体の<br>
    統計的分析など
    </span></p>
  </div>
</div>

<link href="{{ url_for('static', filename='vain/style.css') }}" rel="stylesheet">
{% endblock %}
