{% extends "layout.html" %}

{% block titlename %}
<title>Vain matches</title>
{% endblock %}

{% block content %}

<p>
  <form class="" action="{{ url_for('vain.matches') }}" method="post">
    <input name="ign" type="text" />
    <select name="reg">
      <option value="ea">東アジア</option>
      <option value="cn">中国</option>
      <option value="na">北アメリカ</option>
      <option value="eu">ヨーロッパ</option>
      <option value="sa">南アメリカ</option>
      <option value="sg">東南アジア</option>
    </select>
    <input type="submit" value="Submit">
  </form>
</p>

{% if matches.errors %}
  {{ matches }}
{% else %}

<!-- Matches data -->
{{ player_id }}

{% for m in matches %}
{% set p = this_player(m, player_id) %}
<section>
  <div class="single-match" style="display: table;">
    <h3>
      {{ m.mode }}
      {{ p.won }}
    </h3>

    <div class="m-summary" style="display: table-cell; float: left;">
      <i class="hero hero-{{ p.actor.replace('*', '') }}_Portrait"></i>
    </div>

    <div class="m-details" style="display: table-cell; float: right;">
      <div class="item-build" style="display: table;">
        {% for i in p['items'] %}
        <div class="singleitem" style="display: table-cell">
          <i class="sprite-items-64-{{ itemname_to_cssreadable(i) }}"></i>
        </div>
        {% endfor %}
      </div>

      {{ p.gold }}
      {{ p.farm }}
      <!-- KDA http://vainglory.pchw.io/entry/2016/02/29/092408 -->
      <span class="kda">KDA: 
        {{ p.kda | round(2) }} ({{ p.kills }}/{{ p.deaths }}/{{ p.assists }})
      </span>
      {{ m.duration }}
      {% for r in m.rosters %}
      <div class="{{ r.side }}" style="color: {{ r.side.split('-')[1] }}">
        {{ r.team_kill_score }}
        {{ r.turret_kill }}

        {% for p in r.participants %}
        {{ p.actor }}

        {% endfor %}
      </div>
      {% endfor %}
    </div>

  </div>
</section>
{% endfor %}

{% endif %}
<link href="/static/vain/sprite/items-64.css" rel="stylesheet">
<link href="/static/sprite/hero.css" rel="stylesheet">
{% endblock %}
