{% extends "layout.html" %}

{% block titlename %}
<title>Vain matches</title>
{% endblock %}


{% block content %}
<div class="matches-main">

  <div class="header">
    <a href="{{ url_for('vain.index') }}">
      <img src="{{ url_for('static', filename='vain/vainlab-logo_pink.svg') }}">
    </a>
    <div class="search-form">
      <form class="" action="{{ url_for('vain.matches') }}" method="post">
        <input name="ign" type="text" />
        <select name="reg">
          <option value="ea">東アジア</option>
          <option value="cn">中国</option>
          <option value="na">北アメリカ</option>
          <option value="eu">ヨーロッパ</option>
          <option value="sa">南アメリカ</option>
          <option value="sg">東南アジア</option>
        </select>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>


  <div class="all-matches">
    {% if matches.errors %} <p>Error: {{ matches.errors }}</p>
    {% else %}

    <!-- Matches data -->
    {{ player_id }}

    {% for m in matches %}
    {% set p = this_player(m, player_id) %}
    <div class="single-match">

      <div class="m-summary">
        <div class="role">
          <div class="won" style="background-color: {{ '#ffce2d' if p.won else '#888888' }};">
            {% set actor = p.actor.replace('*', '') %}
            <img class="hero" src="{{ url_for('static', filename='vain/hero/' + actor + '_Portrait.png') }}">
          </div>
        </div>
      </div>

      <div class="m-details">
        <div class="item-build-wrapper">
          <div class="item-build">
            {% for i in p['items'] %}
            <div class="single-item">
              {% set iname = itemname_to_cssreadable(i) %}
              <img src="{{ url_for('static', filename='vain/items/' + iname + '.png') }}">
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="player-stats">
          <div class="mode-won">
            <dt>{{ m.mode }}</dt>
            <dd>{{ p.won }}</dd>
          </div>
          <div class="kda">
            <dt>KDA:</dt>
            <dd>
            <!-- KDA http://vainglory.pchw.io/entry/2016/02/29/092408 -->
            <i class="icon-kills"></i>{{ p.kda | round(2) }}
            ({{ p.kills }}/{{ p.deaths }}/{{ p.assists }})</dd>
          </div>
          <div class="gold">
            <dt>Gold:</dt>
            <dd><i class="icon-gold"></i>{{ p.gold }}</dd>
          </div>
          <div class="cs">
            <dt>CS:</dt>
            <dd><i class="icon-cs"></i>{{ p.farm }}</dd>
          </div>
          {# <i class="icon-duration"></i>{{ m.duration }} #}
        </div>

        <div class="rosters">
          {% for r in m.rosters %}
          <div class="roster {{ r.side }}" style="color: {{ r.side.split('-')[1] }};">
            <div class="roster-stats">
              <p>
              <i class="icon-kills"></i>{{ r.team_kill_score }}
              <i class="icon-turrets"></i>{{ r.turret_kill }}
              </p>
            </div>

            <div class="roster-participants">
              {% for p in r.participants %}
              <i class="sprite-hero-32-{{ p.actor.replace('*', '') }}_Portrait"></i>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
    {% endfor %}
  </div>
</div>

{% endif %}
<link href="{{ url_for('static', filename='vain/sprite/hero-32.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vain/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vain/glyphter-font/css/Glyphter.css') }}" rel="stylesheet">
{% endblock %}
