{% extends "layout.html" %}

{% block title_description %}
<title>VainLab {{ players[player_id].name }} | Vainglory ゲーム履歴を表示・分析・共有しよう</title>
<meta name="apple-mobile-web-app-title" content="VainLab">
<meta name="description" content="VainLab 【ベインラボ】 Vainglory API を用いた分析ツールで、ゲーム履歴を表示・共有したり、統計分析で勝率アップを目指そう！">
<!-- favicon & touch-icon -->
<link rel="icon" href="{{ url_for('static', filename='vain/favicon-64.png') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='vain/apple-touch-icon.png') }}">
<link rel="mask-icon" size="any" href="{{ url_for('static', filename='vain/pinned-icon.svg') }}" color="#333">
{% endblock %}

{% block custom_css %}
<link href="{{ url_for('static', filename='vain/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vain/sprite/hero-32.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="matches-main">

  <div class="header">
    <a href="{{ url_for('vain.index') }}">
      <img src="{{ url_for('static', filename='vain/vainlab-logo_pink.svg') }}">
    </a>
    <div class="search-form">
      {% include "vain/search-ign.html" %}
    </div>
  </div>


  <div class="all-matches">
    {% if matches.errors %} <p>Error: {{ matches.errors }}</p>
    {% else %}

    <!-- Matches data -->
    {% set p = players[player_id] %}
    <div class="player-info">
      <div class="player-tier" style="background-image: url( {{ url_for('static', filename='vain/tiers-cropped/t{}.png'.format(p.tier)) }} );">
        <div class="player-name-stats">
          <h1 id="player-name">{{ p.name }}</h1>
          <p>
          ELO: {{ p.elo | int }}<br>
          勝利数: {{ p.wins }}
          </p>
        </div>
      </div>
    </div>

    {% for m in matches %}
    {% set p = this_player(m, player_id) %}
    <div class="single-match">

      <div class="m-summary">
        <div class="role">
          <div class="won" style="background-color: {{ '#ffce2d' if p.won else '#888888' }};">
            {% set actor = p.actor.replace('*', '') %}
            <img class="hero" src="{{ url_for('static', filename='vain/hero-116/' + actor + '_Portrait.png') }}">
          </div>
        </div>
        <div class="mode-won">
          <span class="mw-mode">{{ m.mode }}</span>
          <span class="mw-won">{{ ('敗北', '勝利')[p.won] }}</span>
        </div>
      </div>

      <div class="m-details">
        <div class="item-build-wrapper">
          <div class="item-build">
            {% for i in p['items'] %}
            <div class="single-item">
              {% set iname = itemname_to_cssreadable(i) %}
              <img src="{{ url_for('static', filename='vain/items-48/' + iname + '.png') }}">
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="player-stats">
          <div class="kda">
            <dt>KDA:</dt>
            <dd>
            <!-- KDA http://vainglory.pchw.io/entry/2016/02/29/092408 -->
            <img class="icon" src="{{ url_for('static', filename='vain/icon/kills.svg') }}">{{ p.kda | round(2) }}
            ({{ p.kills }}/{{ p.deaths }}/{{ p.assists }})</dd>
          </div>
          <div class="gold">
            <dt>Gold:</dt>
            <dd><img class="icon" src="{{ url_for('static', filename='vain/icon/gold.svg') }}">{{ p.gold }}</dd>
          </div>
          <div class="cs">
            <dt>CS:</dt>
            <dd><img class="icon" src="{{ url_for('static', filename='vain/icon/cs.svg') }}">{{ p.farm }}</dd>
          </div>
          {# <img class="icon" src="{{ url_for('static', filename='vain/icon/duration.svg') }}">{{ m.duration }} #}
        </div>

        <div class="rosters">
          {% for r in m.rosters %}
          <div class="roster {{ r.side }}" style="color: {{ r.side.split('-')[1] }};">
            <div class="roster-stats">
              <p>
              <img class="icon" src="{{ url_for('static', filename='vain/icon/kills.svg') }}">{{ r.team_kill_score }}
              <img class="icon" src="{{ url_for('static', filename='vain/icon/turrets.svg') }}">{{ r.turret_kill }}
              </p>
            </div>

            <div class="roster-participants">
              {% for p in r.participants %}
              <i class="sprite-hero-32-{{ p.actor.replace('*', '') }}_Portrait"></i>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
    {% endfor %}
  </div>
  
  <div class="footer">
    {% include "vain/footer.html" %}
  </div>
</div>

{% endif %}
{% endblock %}
