{% extends "layout.html" %}

{% block title_description %}
<title>VainLab | Vainglory ゲーム履歴を表示・分析・共有しよう</title>
<meta name="description" content="VainLab 【ベインラボ】 Vainglory API を用いた分析ツールで、ゲーム履歴を表示・共有したり、統計分析で勝率アップを目指そう！">
{% endblock %}

{% block content %}

<p>
  <form class="" action="{{ url_for('vain.single_player') }}" method="post">
    <input name="ign" type="text" />
    <select name="reg">
      <option value="ea">東アジア</option>
      <option value="cn">中国</option>
      <option value="na">北アメリカ</option>
      <option value="eu">ヨーロッパ</option>
      <option value="sa">南アメリカ</option>
      <option value="sg">東南アジア</option>
    </select>
    <input type="submit" value="Submit">
  </form>
</p>

<dl>
{% for key, val in res.items() %}
<dt>{{ key }}: <dd>{{ val }}
{% endfor %}

{% endblock %}
