{% extends "layout.html" %}

{% block titlename %}
<title>CSS sprite demo</title>
<link href="/static/sprite.css" rel="stylesheet">
{% endblock %}

{% block content %}
<i class="items items-aegis"></i>
<i class="items items-aftershock"></i>
<i class="items items-alternating-current"></i>
<i class="items items-atlas-pauldron"></i>
<i class="items items-barbed-needle"></i>
<i class="items items-blazing-salvo"></i>
<i class="items items-bonesaw"></i>
<i class="items items-book-of-eulogies"></i>
<i class="items items-breaking-point"></i>
<i class="items items-broken-myth"></i>
<i class="items items-chronograph"></i>
<i class="items items-clockwork"></i>
<i class="items items-coat-of-plates"></i>
<i class="items items-contraption"></i>
<i class="items items-crucible"></i>
<i class="items items-crystal-bit"></i>
<i class="items items-crystal-infusion"></i>
<i class="items items-dragonblood-contract"></i>
<i class="items items-dragonheart"></i>
<i class="items items-dragons-eye"></i>
<i class="items items-echo"></i>
<i class="items items-eclipse-prism"></i>
<i class="items items-energy-battery"></i>
<i class="items items-eve-of-harvest"></i>
<i class="items items-flare"></i>
<i class="items items-flare-gun"></i>
<i class="items items-fountain-of-renewal"></i>
<i class="items items-frostburn"></i>
<i class="items items-halcyon-chargers"></i>
<i class="items items-halcyon-potion"></i>
<i class="items items-heavy-prism"></i>
<i class="items items-heavy-steel"></i>
<i class="items items-hourglass"></i>
<i class="items items-ironguard-contract"></i>
<i class="items items-journey-boots"></i>
<i class="items items-kinetic-shield"></i>
<i class="items items-level-juice"></i>
<i class="items items-lifespring"></i>
<i class="items items-light-armor"></i>
<i class="items items-light-shield"></i>
<i class="items items-lucky-strike"></i>
<i class="items items-metal-jacket"></i>
<i class="items items-minion-candy"></i>
<i class="items items-minions-foot"></i>
<i class="items items-nullwave-gauntlet"></i>
<i class="items items-oakheart"></i>
<i class="items items-piercing-shard"></i>
<i class="items items-piercing-spear"></i>
<i class="items items-poisoned-shiv"></i>
<i class="items items-pot-of-gold"></i>
<i class="items items-protector-contract"></i>
<i class="items items-reflex-block"></i>
<i class="items items-scout-trap"></i>
<i class="items items-serpent-mask"></i>
<i class="items items-shatterglass"></i>
<i class="items items-shiversteel"></i>
<i class="items items-six-sins"></i>
<i class="items items-slumbering-husk"></i>
<i class="items items-sorrowblade"></i>
<i class="items items-spell-fire"></i>
<i class="items items-sprint-boots"></i>
<i class="items items-stormcrown"></i>
<i class="items items-stormguard-banner"></i>
<i class="items items-swift-shooter"></i>
<i class="items items-tension-bow"></i>
<i class="items items-tornado-trigger"></i>
<i class="items items-travel-boots"></i>
<i class="items items-tyrants-monocle"></i>
<i class="items items-void-battery"></i>
<i class="items items-war-treads"></i>
<i class="items items-weapon-blade"></i>
<i class="items items-weapon-infusion"></i>
{% endblock %}
