.hero {
    background-image: url(hero.png);
    background-repeat: no-repeat;
    display: block;
}

.hero-Adagio_Portrait {
    width: 288px;
    height: 288px;
    background-position: -5px -5px;
}

.hero-Alpha_Portrait {
    width: 288px;
    height: 288px;
    background-position: -303px -5px;
}

.hero-Ardan_Portrait {
    width: 288px;
    height: 288px;
    background-position: -601px -5px;
}

.hero-Baptiste_Portrait {
    width: 288px;
    height: 288px;
    background-position: -899px -5px;
}

.hero-Baron_Portrait {
    width: 288px;
    height: 288px;
    background-position: -1197px -5px;
}

.hero-Blackfeather_Portrait {
    width: 288px;
    height: 288px;
    background-position: -1495px -5px;
}

.hero-Catherine_Portrait {
    width: 288px;
    height: 288px;
    background-position: -5px -303px;
}

.hero-Celeste_Portrait {
    width: 288px;
    height: 288px;
    background-position: -303px -303px;
}

.hero-Churnwalker_Portrait {
    width: 288px;
    height: 288px;
    background-position: -601px -303px;
}

.hero-Flicker_Portrait {
    width: 288px;
    height: 288px;
    background-position: -899px -303px;
}

.hero-Fortress_Portrait {
    width: 288px;
    height: 288px;
    background-position: -1197px -303px;
}

.hero-Glaive_Portrait {
    width: 288px;
    height: 288px;
    background-position: -1495px -303px;
}

.hero-Grace_Portrait {
    width: 288px;
    height: 288px;
    background-position: -5px -601px;
}

.hero-Grumpjaw_Portrait {
    width: 288px;
    height: 288px;
    background-position: -303px -601px;
}

.hero-Gwen_Portrait {
    width: 288px;
    height: 288px;
    background-position: -601px -601px;
}

.hero-Idris_Portrait {
    width: 288px;
    height: 288px;
    background-position: -899px -601px;
}

.hero-Joule_Portrait {
    width: 288px;
    height: 288px;
    background-position: -1197px -601px;
}

.hero-Kestral_Portrait {
    width: 288px;
    height: 288px;
    background-position: -1495px -601px;
}

.hero-Koshka_Portrait {
    width: 288px;
    height: 288px;
    background-position: -5px -899px;
}

.hero-Krul_Portrait {
    width: 288px;
    height: 288px;
    background-position: -303px -899px;
}

.hero-Lance_Portrait {
    width: 288px;
    height: 288px;
    background-position: -601px -899px;
}

.hero-Lorelai_Portrait {
    width: 288px;
    height: 288px;
    background-position: -899px -899px;
}

.hero-Lyra_Portrait {
    width: 288px;
    height: 288px;
    background-position: -1197px -899px;
}

.hero-Ozo_Portrait {
    width: 288px;
    height: 288px;
    background-position: -1495px -899px;
}

.hero-Petal_Portrait {
    width: 288px;
    height: 288px;
    background-position: -5px -1197px;
}

.hero-Phinn_Portrait {
    width: 288px;
    height: 288px;
    background-position: -303px -1197px;
}

.hero-Reim_Portrait {
    width: 288px;
    height: 288px;
    background-position: -601px -1197px;
}

.hero-Reza_Portrait {
    width: 288px;
    height: 288px;
    background-position: -899px -1197px;
}

.hero-Ringo_Portrait {
    width: 288px;
    height: 288px;
    background-position: -1197px -1197px;
}

.hero-Rona_Portrait {
    width: 288px;
    height: 288px;
    background-position: -1495px -1197px;
}

.hero-SAW_Portrait {
    width: 288px;
    height: 288px;
    background-position: -5px -1495px;
}

.hero-Samuel_Portrait {
    width: 288px;
    height: 288px;
    background-position: -303px -1495px;
}

.hero-Skaarf_Portrait {
    width: 288px;
    height: 288px;
    background-position: -601px -1495px;
}

.hero-Skye_Portrait {
    width: 288px;
    height: 288px;
    background-position: -899px -1495px;
}

.hero-Taka_Portrait {
    width: 288px;
    height: 288px;
    background-position: -1197px -1495px;
}

.hero-Varya_Portrait {
    width: 288px;
    height: 288px;
    background-position: -1495px -1495px;
}

.hero-Vox_Portrait {
    width: 288px;
    height: 288px;
    background-position: -1793px -5px;
}
